html {
  scroll-behavior: smooth;
}   /* make scrolling smooth */


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}   /* 
get rid of padding & sizing on body so
header is at top
*/

main {
  padding: 2vw;
}   /* add some padding back to rest of page */

.navbar-links {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}  /* navbar */

.navbar-links ul li {
  list-style-type: none;
}   /* navbar */

.navbar-links ul li a {
  background-color:cornflowerblue;
  font-family: Righteous;
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
}   /* navbar */

.navbar-links ul li a:hover,
.navbar-links ul li a:focus {
  background-color: aquamarine;
  color:brown;
}  /* apply hover to navbar */

.logo {
  display: flex;
  align-items: center;
}   /* logo */


@media (min-width: 600px) {
  .navbar-links {
    background-color:cornflowerblue;
    height: 50px;
  }   

  .navbar-links ul li { 
    float: left;
    display: block;
    width: 25%;
    }

  .navbar-links ul li a {
    font-size: 100%;
    text-align: center;
    line-height: 50px;
  }
 
  .navbar-links ul li a:hover,
  .navbar-links ul li a:focus {
  background-color: aquamarine;
  color:brown;
  font-size: 110%;
  }  
}

@media (min-width: 800px) {
  .navbar-links ul li a {
    font-size: 120%;
  }

  .navbar-links ul li a:hover,
  .navbar-links ul li a:focus {
  background-color: aquamarine;
  color:brown;
  font-size: 150%;
  }  

}   /* media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/