html {
  scroll-behavior: smooth;
}   /* make scrolling smooth */


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}   /* 
get rid of padding & sizing on body so
header is at top
*/

main {
  padding: 2vw;
}   /* add some padding back to rest of page */

.navbar-links {
  background-color:cornflowerblue;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}  /* navbar */

nav ul li {
  list-style-type: none;
}   /* navbar */

li a {
  font-family: Righteous;
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
}   /* navbar */

li a:hover {
  background-color:aquamarine;
  color:darkslateblue;
}

.logo {
  display: flex;
  align-items: center;
}   /* logo */



/* navigation list */


/*  
 style all a tags in header 
 and then on hover
*/





/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/